.page {
  min-height: 100vh;
  position: relative;

  .main-menu {
    position: fixed;
    z-index: $zindex-foreground;
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}

.page--padding-top {
  main {
    padding-top: 3.5rem;
  }
}