.search-form {
  padding: 3rem 0;

  &__form {
    display: flex;
    justify-content: center;

    &-field {
      position: relative;
      flex-grow: 1;

      label {
        cursor: text;
        position: absolute;
        left: .75rem;
        top: 50%;
        transform: translateY(-50%);
        font-family: $font-family-sans-serif;
        font-size: $font-size-base;
        color: $color--mid;

        transition: font-size .2s ease-out, top .2s ease-out;
      }
    }

    input {
      font-size: 1rem;
      font-family: $font-family-sans-serif;
      padding: .75rem;
      padding-top: 1.5rem;
      padding-bottom: .25rem;
      width: 100%;
      border: none;
      border-bottom: .125rem solid $color--mid;

      transition: border-color .2s ease;

      &:focus {
        outline: none;
      }
    }

    input:focus ~ label, input:not([value=""]) ~ label {
      top: 20%;
      font-size: .8rem;
    }
  }

  &__submit-button {
    cursor: pointer;
    position: relative;
    width: 8rem;
    margin-left: 1rem;
    z-index: 1;

    border: 3px solid $color--neon-blue-bright;
    font-family: $font-family-serif;
    font-size: $font-size-base;
    text-transform: uppercase;
    color: $color--neon-blue-bright;
    text-shadow: $text-glow--white;

    background-color: $color--light;

    transition: color .2s ease-out, border-color .2s ease-out, background-color .2s ease-out;
    &:hover {
      color: $color--light;
      background-color: $color--neon-blue-bright;
    }
  }
}

.form--valid {
  input {
    color: $color--dark;
    border-color: $color--neon-blue-bright;
  }
}

.form--error {
  input {
    color: $color--dark;
    border-color: $color--mid;
  }
}

button[disabled=true] {
  color: $color--mid;
  border-color: $color--mid;
  
  &:hover {
    background-color: #fff;
    color: $color--mid;
  }
}

.search-form__search-text {
  margin-top: .5rem;

  span {
    cursor: pointer;
    color: $color--neon-mulberry;
    text-decoration: none;
    transition: color .2s ease-out;
    &:hover {
      color: darken($color--neon-mulberry, 10%);
    }
  }
}