.icons-block {
  display: flex;
  overflow: visible;

  .icon {
    margin-right: 3rem;
    transition: transform .2s ease-out;
    &:nth-last-child(1) {
      margin-right: 0;
    }

    &:hover {
      transform: translateY(-.25rem);
    }
  }
}
