.main-menu {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  box-shadow: none;
  background-color: rgba($color--dark, 0);

  transition: height .2s ease-out, color .2s ease-out, box-shadow .2s ease-out, background-color .2s ease-out;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: 70%;
      height: 2.5rem;
      opacity: 0;
      border-radius: .25rem;
      transform: translate(-50%, -50%) rotate(-6deg);

      transition: box-shadow .2s ease-out, opacity .15s ease-out;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

.main-menu--light {
  a {
    color: $color--light;
    z-index: 1;
    &::after {
      background-color: rgba($color--neon-mulberry, .5);
      z-index: -1;
    }

    &:hover::after {
      box-shadow: 0 0 1rem .125rem rgba($color--neon-mulberry, 1);
    }
  }
}

.main-menu--dark {
  height: 3.5rem;
  background-color: rgba($color--dark, .98);
  box-shadow: $shadow-bottom;

  a {
    color: $color--light;
    z-index: 1;
    &::after {
      background-color: rgba($color--neon-blue-bright, .5);
      width: 60%;
      height: 2rem;
      z-index: -1;
    }

    &:hover::after {
      box-shadow: 0 0 1rem .125rem rgba($color--neon-blue-bright, 1);
    }
  }
}