.main-menu {
  width:              100%;
  height:             5rem;
  display:            flex;
  justify-content:    center;

  a {
    display:          flex;
    align-items:      center;
    justify-content:  center;
    padding:          0 2.5rem;
    text-decoration:  none;
    text-transform:   uppercase;
    position:         relative;

    &::after {
      position:       absolute;
      content:        "";
      bottom:         0;
      left:           0;
      width:          0;
      height:         .25rem;

      transition: width .3s ease-out;
    }

    &:hover::after {
      width:          100%;
    }
  }
}

.main-menu.main-menu--light {
  a {
    color: $color--light;
    &::after {
      background-color: $color--light;
    }
  }
}